Repository Hrolgar/homelab-stacks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-gitlab, deploy-gitlab-runner-01, deploy-infra-monitoring, deploy-infisical, deploy-admin

deploy-gitlab:
  stage: deploy
  image: alpine:latest
  tags:
  - docker
  before_script:
  - apk add --no-cache openssh-client
  - mkdir -p ~/.ssh
  - echo "$SSH_PRIVATE_KEY" | base64 -d > ~/.ssh/id_ed25519
  - chmod 600 ~/.ssh/id_ed25519
  - ssh-keyscan -H $DEPLOY_HOST >> ~/.ssh/known_hosts
  script:
  ...

deploy-gitlab-runner-01:
  stage: deploy
  image: alpine:latest
  tags:
  - docker
  before_script:
  - apk add --no-cache openssh-client
  - mkdir -p ~/.ssh
  - echo "$SSH_PRIVATE_KEY" | base64 -d > ~/.ssh/id_ed25519
  - chmod 600 ~/.ssh/id_ed25519
  - ssh-keyscan -H $DEPLOY_HOST >> ~/.ssh/known_hosts
  script:
  ...

deploy-infra-monitoring:
  stage: deploy
  image: alpine:latest
  tags:
  - docker
  before_script:
  - apk add --no-cache openssh-client
  - mkdir -p ~/.ssh
  - echo "$SSH_PRIVATE_KEY" | base64 -d > ~/.ssh/id_ed25519
  - chmod 600 ~/.ssh/id_ed25519
  - ssh-keyscan -H $DEPLOY_HOST >> ~/.ssh/known_hosts
  script:
  ...

deploy-infisical:
  variables:
    DEPLOY_HOST: 10.69.1.50
    VM_NAME: ullrinfrastructure
    STACK_NAME: infisical
    ENV_FILE_PATH: $INFISICAL_ENV_FILE

deploy-admin:
  variables:
    DEPLOY_HOST: 10.69.1.50
    VM_NAME: ullrinfrastructure
    STACK_NAME: admin
    ENV_FILE_PATH: $ADMIN_ENV_FILE

asd
  ullrinfrastructure/infra-monitoring/alertmanager-raw.yml
Due: deploy-infra-monitoring

test
  ullrinfrastructure/infra-monitoring/docker-compose.yml
Due: deploy-infra-monitoring

refactor: clean up alert rules and enhance docker-compose configuration
  ullrinfrastructure/infra-monitoring/alertmanager-raw.yml
  ullrinfrastructure/infra-monitoring/alerts/infra-alerts.yml
  ullrinfrastructure/infra-monitoring/alerts/node-alerts.yml
  ullrinfrastructure/infra-monitoring/alerts/prometheus-alerts.yml
  ullrinfrastructure/infra-monitoring/docker-compose.yml
  ullrinfrastructure/infra-monitoring/prometheus.yml
Due: deploy-infra-monitoring

feat: add cAdvisor monitoring and update alert configurations
  ullrinfrastructure/infra-monitoring/alerts/infra-alerts.yml
  ullrinfrastructure/infra-monitoring/alerts/prometheus-alerts.yml
  ullrinfrastructure/infra-monitoring/docker-compose.yml
  ullrinfrastructure/infra-monitoring/prometheus.yml
Due: deploy-infra-monitoring

fix: update cAdvisor port mapping from 8080 to 8085
  ullrinfrastructure/infra-monitoring/docker-compose.yml
Due: deploy-infra-monitoring

fix: update cAdvisor image version and adjust volume mapping for Docker socket
  ullrinfrastructure/infra-monitoring/docker-compose.yml
Due: deploy-infra-monitoring

fix: revert cAdvisor image version from v0.53.0 to v0.47.0
  ullrinfrastructure/infra-monitoring/docker-compose.yml
Due: deploy-infra-monitoring

feat: add blackbox exporter service and monitoring configuration
  ullrinfrastructure/infra-monitoring/alerts/blackbox-alerts.yml
  ullrinfrastructure/infra-monitoring/blackbox.yml
  ullrinfrastructure/infra-monitoring/docker-compose.yml
  ullrinfrastructure/infra-monitoring/prometheus.yml
Due: deploy-infra-monitoring

feat: add Loki and Promtail services with configuration files
  ullrinfrastructure/infra-monitoring/docker-compose.yml
  ullrinfrastructure/infra-monitoring/loki-config.yml
  ullrinfrastructure/infra-monitoring/promtail-config.yml
Due: deploy-infra-monitoring

fix: add delete_request_store configuration for compactor in Loki
  ullrinfrastructure/infra-monitoring/loki-config.yml
Due: deploy-infra-monitoring

fix: set user for Loki container to ensure proper permissions
  ullrinfrastructure/infra-monitoring/docker-compose.yml
Due: deploy-infra-monitoring

feat: add Traefik service and configuration for reverse proxy setup
  .gitlab-ci.yml
  .gitlab/ci/ullrinfrastructure.yml
  ullrinfrastructure/auth/docker-compose.yml
  ullrinfrastructure/auth/traefik/traefik-config.yml
Due: none

feat: update Traefik configuration for improved HTTPS handling and logging
  ullrinfrastructure/auth/traefik/traefik-config.yml
Due: none

feat: add middlewares configuration for Traefik including security headers, rate limiting, and Authentik integration
  ullrinfrastructure/auth/traefik/dynamic/middlewares.yml
Due: none

feat: update Traefik and Authentik configurations for improved security and functionality
  .gitlab/ci/ullrinfrastructure.yml
  ullrinfrastructure/auth/docker-compose.yml
  ullrinfrastructure/auth/traefik/traefik-config.yml
Due: none

fix: remove bufferingSize from Traefik API configuration
  ullrinfrastructure/auth/traefik/traefik-config.yml
Due: none

feat: enhance Traefik configuration with logging and ACME support
  ullrinfrastructure/auth/docker-compose.yml
Due: none

fix: remove unnecessary Traefik volume configuration and ensure whoami container name is set
  ullrinfrastructure/auth/docker-compose.yml
Due: none

fix: update volume paths for Traefik and Authentik services to ensure correct data storage
  ullrinfrastructure/auth/docker-compose.yml
Due: none

fix: update Traefik entrypoint for whoami service from 'web' to 'http'
  ullrinfrastructure/auth/docker-compose.yml
Due: none

fix: comment out whoami service configuration and update volume paths for authentik
  ullrinfrastructure/auth/docker-compose.yml
Due: none

fix: adjust formatting of Docker endpoint in Traefik configuration
  ullrinfrastructure/auth/traefik/traefik-config.yml
Due: none

fix: enable insecure API access in Traefik configuration
  ullrinfrastructure/auth/traefik/traefik-config.yml
Due: none

fix: update authentik server and worker images to version 2025.10.3
  ullrinfrastructure/auth/docker-compose.yml
Due: none

fix: update Traefik configuration to enhance security and enable dashboard access
  ullrinfrastructure/auth/docker-compose.yml
  ullrinfrastructure/auth/traefik/certs/acme.json
  ullrinfrastructure/auth/traefik/traefik-config.yml
Due: none

fix: remove comment from Traefik middleware configuration and standardize GitLab volume paths
  .gitlab/ci/deploy-template.yml
  ullrinfrastructure/auth/docker-compose.yml
  ullrinfrastructure/gitlab/docker-compose.yml
Due: deploy-gitlab

fix: update Redis and PostgreSQL volume paths to correct directory
  ullrinfrastructure/infisical/docker-compose.yml
Due: deploy-infisical

asd
  ullrinfrastructure/infisical/docker-compose.yml
Due: deploy-infisical

Test
  ullrinfrastructure/infisical/docker-compose.yml
Due: deploy-infisical

fix: update deployment directory path and clean up DNS configuration
  .gitlab/ci/deploy-template.yml
  ullrinfrastructure/infisical/docker-compose.yml
Due: deploy-infisical

fix: update deployment paths in CI template and adjust DNS configuration in docker-compose
  .gitlab/ci/deploy-template.yml
  ullrinfrastructure/infisical/docker-compose.yml
Due: deploy-infisical

Build admin stack
  ullrinfrastructure/admin/docker-compose.yml
Due: deploy-admin

Path conditions:
  deploy-gitlab: any of: ullrinfrastructure/gitlab/**/*
  deploy-gitlab-runner-01: any of: ullrinfrastructure/gitlab-runner/**/*
  deploy-infra-monitoring: any of: ullrinfrastructure/infra-monitoring/**/*
  deploy-infisical: any of: ullrinfrastructure/infisical/**/*
  deploy-admin: any of: ullrinfrastructure/admin/**/*
